.father {
  margin-left: 2%;
  margin-top: 1.25%;
  width: fit-content;
  max-width: 40%;
  min-width: 10%;
  padding: 1.3%;
  background-color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 100%;
  color: #ffffff;
  border-radius: 15px;
}
.incomingText {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 100%;
  color: #ffffff;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  text-align: justify;
}

.incomingHour {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 100%;
  color: #ffffff;
  text-align: right;
}
