@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  margin: 0; /*eliminamos paddng y marginq q los navegadores aplican por defecto.*/
  padding: 0;
  background-color: #000000;
}
#__next {
  height: 100%;
}
